In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
test=pd.read_csv('data/test.csv')
train=pd.read_csv('data/train.csv')

In [10]:
train.head(10).T

,0,1,2,3,4,5,6,7,8,9
id,1,2,3,4,5,6,7,8,9,10
belongs_to_collection,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...","[{'id': 107674, 'name': 'The Princess Diaries ...",NaN,NaN,NaN,NaN,NaN,NaN,"[{'id': 256377, 'name': 'The Muppet Collection...",NaN
budget,14000000,40000000,3300000,1200000,0,8000000,14000000,0,0,6000000
genres,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 18, 'name': 'Drama'}]","[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...","[{'id': 99, 'name': 'Documentary'}]","[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '..."
homepage,NaN,NaN,http://sonyclassics.com/whiplash/,http://kahaanithefilm.com/,NaN,NaN,http://www.thepossessionmovie.com/,NaN,NaN,NaN
imdb_id,tt2637294,tt0368933,tt2582802,tt1821480,tt1380152,tt0093743,tt0431021,tt0391024,tt0117110,tt0310281
original_language,en,en,en,hi,ko,en,en,en,en,en
original_title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,마린보이,Pinocchio and the Emperor of the Night,The Possession,Control Room,Muppet Treasure Island,A Mighty Wind
overview,"When Lou, who has become the ""father of the In...",Mia Thermopolis is now a college graduate and ...,"Under the direction of a ruthless instructor, ...",Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,Marine Boy is the story of a former national s...,"Pinocchio and his friends, a glow worm and a m...",A young girl buys an antique box at a yard sal...,A chronicle which provides a rare window into ...,After telling the story of Flint's last journe...,"In ""A Mighty Wind"", director Christopher Guest..."
popularity,6.57539,8.24889,64.3,3.17494,1.14807,0.743274,7.28648,1.94904,6.90242,4.67204
poster_path,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,/6IDqA1D2NBIVhzEEaMMRL28iBrq.jpg,/4QjzFuaZmB4btGnLwAgdp23BzIU.jpg,/83BV8fGy5p9i8RwE9oj76tZ1Ikp.jpg,/5A8gKzOrF9Z7tSUX6xd5dEx4NXf.jpg,/xwD4EsPOGLuKP50Q1gwqAsyhAFB.jpg
production_companies,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Bold Films', 'id': 2266}, {'name': ...",NaN,NaN,NaN,"[{'name': 'Ghost House Pictures', 'id': 768}, ...",NaN,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'name': 'Castle Rock Entertainment', 'id': 97}]"
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'IN', 'name': 'India'}]","[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",NaN,"[{'iso_3166_1': 'US', 'name': 'United States o...",NaN,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,2/20/15,8/6/04,10/10/14,3/9/12,2/5/09,8/6/87,8/30/12,1/15/04,2/16/96,4/16/03
runtime,93,113,105,122,118,83,92,84,100,91
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,The Laws of Space and Time are About to be Vio...,It can take a lifetime to find true love; she'...,The road to greatness can take you to the edge.,NaN,NaN,NaN,Fear The Demon That Doesn't Fear God,Different channels. Different truths.,Set sail for Muppet mayhem!,"Back together for the first time, again."
title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,Marine Boy,Pinocchio and the Emperor of the Night,The Possession,Control Room,Muppet Treasure Island,A Mighty Wind
Keywords,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...",NaN,NaN,NaN,"[{'id': 917, 'name': 'journalism'}, {'id': 163...","[{'id': 2041, 'name': 'island'}, {'id': 4418, ...","[{'id': 11800, 'name': 'mockumentary'}, {'id':..."
cast,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'cast_id': 1, 'character': 'Long John Silver...","[{'cast_id': 24, 'character': 'Jonathan Steinb..."
crew,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...","[{'credit_id': '52fe464b9251416c75073b43', 'de...","[{'credit_id': '52fe46f49251416c9106558b', 'de...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...","[{'credit_id': '52fe45609251416c750545b3', 'de..."
revenue,12314651,95149435,13092000,16000000,3923970,3261638,85446075,2586511,34327391,18750246

In [21]:
test.head(10).T

,0,1,2,3,4,5,6,7,8,9
id,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010
belongs_to_collection,"[{'id': 34055, 'name': 'Pokémon Collection', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'id': 10194, 'name': 'Toy Story Collection',..."
budget,0,88000,0,6800000,2000000,0,0,30000000,16500000,90000000
genres,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...","[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...","[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...","[{'id': 36, 'name': 'History'}, {'id': 99, 'na...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...","[{'id': 16, 'name': 'Animation'}, {'id': 10751...","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
homepage,http://www.pokemon.com/us/movies/movie-pokemon...,NaN,NaN,http://www.sonyclassics.com/incendies/,NaN,NaN,NaN,http://www.tigger.com,http://becomingjane-themovie.com/,http://toystory.disney.com/toy-story-2
imdb_id,tt1226251,tt0051380,tt0118556,tt1255953,tt0418753,tt0120238,tt1517177,tt0220099,tt0416508,tt0120363
original_language,ja,en,en,fr,en,en,de,en,en,en
original_title,ディアルガVSパルキアVSダークライ,Attack of the 50 Foot Woman,Addicted to Love,Incendies,Inside Deep Throat,SubUrbia,Drei,The Tigger Movie,Becoming Jane,Toy Story 2
overview,Ash and friends (this time accompanied by newc...,When an abused wife grows to giant size becaus...,Good-natured astronomer Sam is devastated when...,A mother's last wishes send twins Jeanne and S...,"In 1972, a seemingly typical shoestring budget...",A group of suburban teenagers try to support e...,Hanna and Simon are in a 20 year marriage with...,"As it happens, everybody - Pooh, Piglet, Eeyor...",A biographical portrait of a pre-fame Jane Aus...,"Andy heads off to Cowboy Camp, leaving his toy..."
popularity,3.85153,3.55979,8.08519,8.59601,3.21768,8.67935,4.89888,7.02341,7.82974,17.5477
poster_path,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,/sEUG3qjxwHjxkzuO7plrRHhOZUH.jpg,/n4WC3zbelz6SG7rhkWbf8m9pMHB.jpg,/7PdRbG09K9JHYyOwwCSn3OdJb0N.jpg,/cIIQJvsZePyYYjlQJMU3J0fcinu.jpg,/qhiNJzT2IbK9MkMVQFr0Jk4Pj8h.jpg,/iLNBdoaKzXNhZV4qbhJPkIEfLEg.jpg,/3CmK3XurcLeUyMifCR28ibzupbB.jpg
production_companies,NaN,"[{'name': 'Woolner Brothers Pictures Inc.', 'i...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'name': 'TS Productions', 'id': 313}, {'name...",NaN,"[{'name': 'Castle Rock Entertainment', 'id': 9...","[{'name': 'X-Filme Creative Pool', 'id': 1972}...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Ecosse Films', 'id': 1267}, {'name'...","[{'name': 'Pixar Animation Studios', 'id': 3}]"
production_countries,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'DE', 'name': 'Germany'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,7/14/07,5/19/58,5/23/97,9/4/10,2/11/05,2/7/96,12/23/10,2/11/00,3/2/07,10/30/99
runtime,90,65,100,130,92,121,119,77,120,92
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,Somewhere Between Time & Space... A Legend Is ...,A titanic beauty spreads a macabre wave of hor...,A Comedy About Lost Loves And Last Laughs,The search began at the opening of their mothe...,It was filmed in 6 days for 25 thousand dollar...,NaN,Imagine the possibilities.,NaN,Her own life is her greatest inspiration.,The toys are back!
title,Pokémon: The Rise of Darkrai,Attack of the 50 Foot Woman,Addicted to Love,Incendies,Inside Deep Throat,SubUrbia,Three,The Tigger Movie,Becoming Jane,Toy Story 2
Keywords,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'id': 10183, 'name': 'independent film'}]","[{'id': 572, 'name': 'sex'}, {'id': 154937, 'n...","[{'id': 3905, 'name': 'owl'}, {'id': 4144, 'na...","[{'id': 392, 'name': 'england'}, {'id': 934, '...","[{'id': 2598, 'name': 'museum'}, {'id': 3246, ..."
cast,"[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'cast_id': 4, 'character': 'Pony', 'credit_i...","[{'cast_id': 2, 'character': 'Hanna', 'credit_...","[{'cast_id': 2, 'character': 'Tigger / Winnie ...","[{'cast_id': 10, 'character': 'Jane Austen', '...","[{'cast_id': 18, 'character': 'Woody (voice)',..."
crew,"[{'credit_id': '52fe44e7c3a368484e03d683', 'de...","[{'credit_id': '55807805c3a3685b1300060b', 'de...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...","[{'credit_id': '56478092c3a36826140043af', 'de...","[{'credit_id': '52fe44ce9251416c75041967', 'de...","[{'credit_id': '52fe4576c3a368484e05c901', 'de...","[{'credit_id': '52fe485bc3a36847f816358d', 'de...","[{'credit_id': '59121da0c3a3686519043247', 'de...","[{'credit_id': '53569575c3a3687f54000051', 'de...","[{'credit_id': '52fe4284c3a36847f8025073', 'de..."

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

In [22]:
train['poster_path'].unique().shape # poster path is of no use 3000 unique vals

(3000,)

In [32]:
sorted(train['homepage'].value_counts(),reverse=True) # homepage is of no use 3000 unique vals

[4,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [46]:
# removing id,homepage and post_path columns
train.drop(['id','homepage','poster_path'],axis=1,inplace=True)
test.drop(['id','homepage','poster_path'],axis=1,inplace=True)

In [67]:
cnt={}
for i in train['imdb_id']:
    if i[0:4] not in cnt.keys():
        cnt[i[0:4]]=1
    else:
        cnt[i[0:4]]+=1
print(cnt)
print(sorted(cnt.keys()))

{'tt26': 15, 'tt03': 227, 'tt25': 13, 'tt18': 41, 'tt13': 49, 'tt00': 638, 'tt04': 233, 'tt01': 579, 'tt11': 70, 'tt17': 52, 'tt14': 62, 'tt21': 33, 'tt16': 65, 'tt07': 31, 'tt02': 180, 'tt29': 16, 'tt27': 16, 'tt34': 10, 'tt09': 37, 'tt32': 7, 'tt10': 62, 'tt12': 74, 'tt28': 17, 'tt38': 15, 'tt24': 31, 'tt08': 77, 'tt15': 50, 'tt52': 5, 'tt31': 11, 'tt20': 38, 'tt33': 15, 'tt56': 5, 'tt23': 39, 'tt22': 22, 'tt44': 9, 'tt49': 7, 'tt19': 31, 'tt36': 8, 'tt46': 8, 'tt42': 10, 'tt66': 1, 'tt50': 5, 'tt30': 12, 'tt37': 16, 'tt40': 7, 'tt45': 5, 'tt65': 1, 'tt43': 6, 'tt51': 3, 'tt39': 3, 'tt35': 6, 'tt41': 8, 'tt47': 5, 'tt62': 1, 'tt54': 2, 'tt48': 4, 'tt57': 1, 'tt58': 1, 'tt55': 2, 'tt59': 1, 'tt60': 1, 'tt53': 1}
['tt00', 'tt01', 'tt02', 'tt03', 'tt04', 'tt07', 'tt08', 'tt09', 'tt10', 'tt11', 'tt12', 'tt13', 'tt14', 'tt15', 'tt16', 'tt17', 'tt18', 'tt19', 'tt20', 'tt21', 'tt22', 'tt23', 'tt24', 'tt25', 'tt26', 'tt27', 'tt28', 'tt29', 'tt30', 'tt31', 'tt32', 'tt33', 'tt34', 'tt35', 'tt36', 'tt37', 'tt38', 'tt39', 'tt40', 'tt41', 'tt42', 'tt43', 'tt44', 'tt45', 'tt46', 'tt47', 'tt48', 'tt49', 'tt50', 'tt51', 'tt52', 'tt53', 'tt54', 'tt55', 'tt56', 'tt57', 'tt58', 'tt59', 'tt60', 'tt62', 'tt65', 'tt66']